.baselayout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

}

.baselayout div {
    padding: 10px;
    border: 1px white solid;
    margin:  10px;   
}

ul {
    list-style-type:none;
    margin:0;
    padding-left: 0;

}
li {
    padding-bottom: 3px;
    margin:0;
    padding-left: 0;
}
img {
    border-radius: 50%;
}