.baselayout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

}

.baselayout div {
    padding: 1px;
    border: 1px white solid;
    margin:  5px;   
}

ul {
    list-style-type:none;
    margin:0;
    padding-left: 0;

}
li {
    padding-bottom: 3px;
    margin:0;
    padding-left: 0;
}
img {
    border-radius: 50%;
    height: 150px;
}

button {
    height: 40px;
}